<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @article && @article.id%>
<div class=''>
    <h4><%= _("Merge") %></h4>
    <ul id='attachments' class='inputs-list'>
      <%= render 'admin/content/merge'-%>
    </ul>
  </div>    
  </div>
<% end %>
